<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	<Appenders>
		<Console name="default" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%level] %c{40} - %m%n" />
		</Console>

		<RollingFile name="default" fileName="/data0/ggreen/logs/ggreen.log"
					 filePattern="/data0/ggreen/logs/ggreen-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%level] %c{40} %l - %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>

	</Appenders>
	<Loggers>
		<Logger name="com.ggreener.oa" level="debug" additivity="false">
			<AppenderRef ref="default" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="default" />
		</Root>
	</Loggers>
</Configuration>
