<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ggreener.oa.mapper.CompanyMapper">
    <resultMap id="CompanyPO" type="com.ggreener.oa.po.CompanyPO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="established_time" jdbcType="TIMESTAMP" property="establishedTime"/>
        <result column="registered_capital" jdbcType="FLOAT" property="registeredCapital"/>
        <result column="shares_code" jdbcType="VARCHAR" property="sharesCode"/>
        <result column="patents" jdbcType="VARCHAR" property="patents"/>
        <result column="utility_patents" jdbcType="VARCHAR" property="utilityPatents"/>
        <result column="softwares" jdbcType="VARCHAR" property="softwares"/>
        <result column="office_area" jdbcType="FLOAT" property="officeArea"/>
        <result column="staff_number" jdbcType="BIGINT" property="staffNumber"/>
        <result column="technicians" jdbcType="BIGINT" property="technicians"/>
        <result column="products" jdbcType="VARCHAR" property="products"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="fax" jdbcType="VARCHAR" property="fax"/>
        <result column="website" jdbcType="VARCHAR" property="website"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>

    <resultMap id="CompanyOverviewPO" type="com.ggreener.oa.po.CompanyOverviewPO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="established_time" jdbcType="TIMESTAMP" property="establishedTime"/>
        <result column="registered_capital" jdbcType="FLOAT" property="registeredCapital"/>
        <result column="member_name" jdbcType="VARCHAR" property="memberName"/>
        <result column="member_code" jdbcType="VARCHAR" property="memberCode"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO company (`name`, `established_time`, `registered_capital`, `shares_code`,`patents`, `utility_patents`,
         `softwares`, `office_area`, `staff_number`, `technicians`, `products`, `telephone`, `fax`, `website`, `address`, `status`,
         `create_time`, `create_user`, `update_time`, `update_user`)
        VALUES(#{name}, #{establishedTime}, #{registeredCapital}, #{sharesCode}, #{patents}, #{utilityPatents}, #{softwares}, #{officeArea}, #{staffNumber},
        #{technicians}, #{products}, #{telephone}, #{fax}, #{website}, #{address}, #{status}, #{createTime}, #{createUser}, #{updateTime}, #{updateUser})
    </insert>

    <select id="selectByCompanyId" resultMap="CompanyPO">
        SELECT id, `name`, established_time, registered_capital, shares_code, patents, utility_patents, softwares, office_area, staff_number, technicians, products,
        telephone, fax, website, address, status, create_time, create_user, update_time, update_user
        FROM company
        WHERE id = #{companyId} and status = 1 LIMIT 1
    </select>

    <select id="selectByIds" resultMap="CompanyOverviewPO">
        SELECT c.id, c.`name`, c.established_time, c.registered_capital, m.member_code, t.name AS member_name
        FROM company c LEFT JOIN member m on c.id = m.company_id LEFT JOIN tag t on m.tag_id = t.id
        WHERE c.status = 1
        <if test="ids != null" >
            AND c.id IN
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="name != null and name != ''" >
            AND c.name LIKE CONCAT('%',#{name},'%')
        </if>
        ORDER BY c.update_time DESC
        LIMIT #{start}, #{limit}
    </select>

    <select id="countByIds" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM company
        WHERE status = 1
        <if test="ids != null" >
            AND id IN
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="name != null and name != ''" >
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>

    <select id="selectByName" resultMap="CompanyPO">
        SELECT id, `name`, established_time, registered_capital, shares_code, patents, utility_patents, softwares, office_area, staff_number, technicians, products,
        telephone, fax, website, address, status, create_time, create_user, update_time, update_user
        FROM company
        WHERE `name` = #{name} and status = 1 LIMIT 1
    </select>

    <update id="delete">
        UPDATE company SET status = 0, update_user = #{userId}, update_time = #{updateTime}
        WHERE id = #{companyId}
    </update>

    <update id="update">
        UPDATE `company`
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="establishedTime!=null">
                established_time = #{establishedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="registeredCapital!=null">
                `registered_capital`= #{registeredCapital,jdbcType=FLOAT},
            </if>
            <if test="sharesCode!=null">
                shares_code = #{sharesCode,jdbcType=VARCHAR},
            </if>
            <if test="patents!=null">
                patents = #{patents,jdbcType=VARCHAR},
            </if>
            <if test="utilityPatents!=null">
                utility_patents = #{utilityPatents,jdbcType=VARCHAR},
            </if>
            <if test="softwares!=null">
                softwares = #{softwares,jdbcType=VARCHAR},
            </if>
            <if test="officeArea!=null">
                office_area = #{officeArea,jdbcType=FLOAT},
            </if>
            <if test="staffNumber!=null">
                staff_number = #{staffNumber,jdbcType=BIGINT},
            </if>
            <if test="technicians!=null">
                technicians = #{technicians,jdbcType=BIGINT},
            </if>
            <if test="products!=null">
                products = #{products,jdbcType=VARCHAR},
            </if>
            <if test="telephone!=null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="fax!=null">
                fax = #{fax,jdbcType=VARCHAR},
            </if>
            <if test="website!=null">
                website = #{website,jdbcType=VARCHAR},
            </if>
            <if test="address!=null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser!=null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <select id="list" resultType="java.lang.Long">
        SELECT c.id FROM company c
        WHERE c.status = 1
        <if test="name != null and name != ''" >
            AND c.name LIKE CONCAT('%',#{name},'%')
        </if>
        ORDER BY c.update_time DESC
    </select>
</mapper>
