<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ggreener.oa.mapper.ContactMapper">
    <resultMap id="ContactPO" type="com.ggreener.oa.po.ContactPO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="duty" jdbcType="VARCHAR" property="duty"/>
        <result column="mail" jdbcType="VARCHAR" property="mail"/>
        <result column="weixin" jdbcType="VARCHAR" property="weixin"/>
        <result column="qq" jdbcType="VARCHAR" property="qq"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="order" jdbcType="INTEGER" property="order"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO contacts (`company_id`, `name`, `telephone`, `phone`, `duty`,`mail`, `weixin`, `qq`, `remark`, `status`, `create_time`, `create_user`, `update_time`, `update_user`, `order`)
        VALUES(#{companyId}, #{name}, #{telephone}, #{phone}, #{duty}, #{mail}, #{weixin}, #{qq}, #{remark}, #{status}, #{createTime}, #{createUser}, #{updateTime}, #{updateUser}, #{order})
    </insert>

    <select id="selectByCompanyId" resultMap="ContactPO">
        SELECT c.`id`, c.`company_id`, c.`name`, c.`telephone`, c.phone, c.`duty`, c.`mail`, c.`weixin`, c.`qq`, c.remark, c.status,
        c.`create_time`, c.`create_user`, c.`update_time`, c.`update_user`, c.`order`
        FROM contacts c
        WHERE c.company_id = #{companyId} and c.status = 1 ORDER BY c.`order`
    </select>

    <update id="delete">
        UPDATE contacts
        SET status = 0, update_user = #{updateUser}, update_time = #{updateTime}
        WHERE id = #{contactId}
    </update>

    <update id="update">
        UPDATE contacts
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="duty!=null">
                duty = #{duty},
            </if>
            <if test="telephone!=null">
                telephone = #{telephone},
            </if>
            <if test="phone!=null">
                phone = #{phone},
            </if>
            <if test="qq!=null">
                qq = #{qq},
            </if>
            <if test="mail!=null">
                mail = #{mail},
            </if>
            <if test="weixin!=null">
                weixin = #{weixin},
            </if>
            <if test="remark!=null">
                remark = #{remark},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser!=null">
                update_user = #{updateUser},
            </if>
            <if test="order!=null">
                `order` = #{order},
            </if>
        </trim>
        WHERE id = #{id} and status = 1
    </update>

    <select id="get" resultMap="ContactPO">
        SELECT c.`id`, c.`company_id`, c.`name`, c.`telephone`, c.`duty`, c.`mail`, c.`weixin`, c.`qq`, c.remark, c.status, c.`create_time`, c.`create_user`, c.`update_time`, c.`update_user`, c.`order`
        FROM contacts c
        WHERE c.id = #{contactId} and c.status = 1 LIMIT 1
    </select>

</mapper>