<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ggreener.oa.mapper.ProjectMapper">
    <resultMap id="ProjectPO" type="com.ggreener.oa.po.ProjectPO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="BIGINT" property="type"/>
        <result column="start_date" jdbcType="TIMESTAMP" property="startDate"/>
        <result column="end_date" jdbcType="TIMESTAMP" property="endDate"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO project (`name`, `type`, `start_date`, `end_date`,`address`, `remark`,
         `status`, `create_time`, `create_user`, `update_time`, `update_user`)
        VALUES(#{name}, #{type}, #{startDate}, #{endDate}, #{address}, #{remark}, #{status},
        #{createTime}, #{createUser}, #{updateTime}, #{updateUser})
    </insert>

    <select id="selectById" resultMap="ProjectPO">
        SELECT id, `name`, `type`, `start_date`, `end_date`,`address`, `remark`,
         `status`, `create_time`, `create_user`, `update_time`, `update_user`
        FROM project
        WHERE id = #{projectId} and status = 1 LIMIT 1
    </select>

    <update id="delete">
        UPDATE porject
        SET status = 0, update_time = #{updateTime}, update_user = #{updateUser}
        WHERE id = #{projectId}
    </update>

    <select id="list" resultMap="ProjectPO">
        SELECT id, `name`, `type`, `start_date`, `end_date`,`address`, `remark`,
        `status`, `create_time`, `create_user`, `update_time`, `update_user`
        FROM project
        WHERE status = 1
    </select>

    <update id="update">
        UPDATE contacts
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="type!=null">
                type = #{type},
            </if>
            <if test="address!=null">
                address = #{address},
            </if>
            <if test="remark!=null">
                remark = #{remark},
            </if>
            <if test="startDate!=null">
                start_date = #{startDate},
            </if>
            <if test="endDate!=null">
                end_date = #{endDate},
            </if>
            <if test="update_time!=null">
                update_time = #{updateTime},
            </if>
            <if test="update_user!=null">
                update_user = #{updateUser},
            </if>
        </trim>
        WHERE id = #{id} and status = 1
    </update>
</mapper>