<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ggreener.oa.mapper.RequireMapper">
    <resultMap id="RequirePO" type="com.ggreener.oa.po.RequirePO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="requirement_id" jdbcType="BIGINT" property="requirementId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
    </resultMap>

    <resultMap id="TagDetailPO" type="com.ggreener.oa.po.TagDetailPO">
        <result column="tag_id" jdbcType="BIGINT" property="tagId" />
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="company_id" jdbcType="BIGINT" property="companyId" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO requirements (`company_id`, `requirement_id`, `create_time`, `create_user`)
        VALUES(#{companyId}, #{requirementId}, #{createTime}, #{createUser})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO `requirements`(`company_id`, `requirement_id`, `create_user`, `create_time`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{companyId}, #{item}, #{userId}, #{date})
        </foreach>
    </insert>

    <select id="selectByCompanyId" resultMap="TagDetailPO">
        SELECT t.name, t.parent_id, r.company_id, r.requirement_id as tag_id
        FROM requirements r JOIN tag t ON r.requirement_id = t.id
        WHERE company_id = #{companyId} ORDER BY update_time DESC
    </select>

    <delete id="delete">
        DELETE FROM requirements
        WHERE company_id = #{companyId}
    </delete>

    <select id="listByRequireId" resultMap="RequirePO">
        SELECT id, requirement_id, company_id, create_time, create_user
        FROM requirements
        where requirement_id in
        <foreach collection="requireIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and company_id in
        <foreach collection="companyIds" item="companyId" open="(" close=")" separator=",">
            #{companyId}
        </foreach>
    </select>
</mapper>